# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import scipy

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries = pd.read_csv('../data/Salaries.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_3836\3278573303.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv('../data/Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here:

In [4]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [ ]:
# Your code here:

In [5]:
salaries.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [ ]:
# Your code here

In [6]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [ ]:
# Your code here

In [7]:
salaries = salaries.drop(['Notes'], axis=1)
salaries.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [ ]:
# Your code here

In [8]:
salaries.Status.unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [9]:
# Your code here
salaries = salaries[(salaries['Status'].isna() == False)]

In [10]:
# Your code here
salaries['Status'].value_counts(dropna=False)

FT    22334
PT    15785
Name: Status, dtype: int64

In [11]:
salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [ ]:
# Your code here

In [12]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [ ]:
# Your code here

In [13]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [14]:
# Your code here
salaries = salaries.astype({'BasePay': float, 'OvertimePay': float, 'OtherPay': float, 'Benefits': float})

In [15]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [16]:
# Your code here
salaries = salaries.reset_index(drop=True)

In [17]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [ ]:
# Your code here

In [18]:
salaries['TotalPayBenefits'] == salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits']

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [ ]:
# Your code here:

In [19]:
(salaries['TotalPayBenefits'] == salaries[['BasePay']+['OvertimePay']+['OtherPay']+['Benefits']].sum(axis=1)).value_counts()/len(salaries)*100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [ ]:
# Your code here:

In [20]:
salaries.groupby('JobTitle').agg({'Id':'count'})

                                Id
JobTitle
ACPO,JuvP, Juv Prob (SFERS)      1
ASR Senior Office Specialist    22
ASR-Office Assistant            15
Account Clerk                   93
Accountant I                     2
...                             ..
Wire Rope Cable Maint Sprv       1
Worker's Comp Supervisor 1       6
Worker's Compensation Adjuster  26
X-Ray Laboratory Aide           35
Youth Comm Advisor               1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
# Your code here: (compute the "Hourly_Wage")

In [21]:
salaries['Hourly_Wage'] = salaries['TotalPayBenefits']/(50*40)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [ ]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [22]:
hourly_wage_FT = salaries[salaries['Status']== 'FT']['TotalPayBenefits']/50/40
hourly_wage_FT.mean()

69.264206407271

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [23]:
stats = (np.mean(hourly_wage_FT) - 75)/ (np.std(hourly_wage_FT, ddof=1)/np.sqrt(len(hourly_wage_FT)))
stats

-35.80631941460788

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [24]:
from scipy.stats import t
print('Lower crit value:',t.ppf(0.05/2, df=len(salaries)-1))
print('Upper crit value:',t.ppf(1-0.05/2, df=len(salaries)-1))

Lower crit value: -1.9600262214170783
Upper crit value: 1.9600262214170778

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [25]:
print('p-value:', t.cdf(stats, df=len(hourly_wage_FT)-1)*2)

p-value: 4.5178312334390194e-273

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [29]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(hourly_wage_FT, popmean = 75, alternative = "two-sided")
print(stat, pval)

-35.80631941460526 4.517831233839447e-273

Are all the methods in agreement?

In [ ]:
# Yes they match

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [30]:
salaries_pol = salaries[salaries['JobTitle'].str.contains('Police')]
stat=(np.mean(salaries_pol['TotalPayBenefits']) - 86000)/ (np.std(salaries_pol['TotalPayBenefits'], ddof=1)/np.sqrt(len(salaries_pol['TotalPayBenefits'])))
stat

50.252984742109916

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [32]:
print('lower critical value:',t.ppf(0.05/2, df=len(salaries_pol)-1))
print('upper critical value:',t.ppf(1-0.05/2, df=len(salaries_pol)-1))

lower critical value: -1.961213330573796
upper critical value: 1.9612133305737955

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [36]:
pvalue = scipy.stats.t.cdf(stat, df=len(salaries_pol['TotalPayBenefits'])-1)
print('p-value: ',pvalue)

p-value:  1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [39]:
stat, pval = ttest_1samp(salaries_pol['TotalPayBenefits'], popmean = 86000, alternative = "less") 
print(stat,pval)

50.252984742109945 1.0

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [40]:
salaries.groupby('JobTitle').agg({'Id':'count'}).idxmax()

Id    Transit Operator
dtype: object

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [45]:
TransitOp = salaries[salaries['JobTitle']== 'Transit Operator']['TotalPayBenefits']/50/40
stats = (np.mean(TransitOp) - 35)/ (np.std(TransitOp, ddof=1)/np.sqrt(len(TransitOp)))
stats

19.064990324906553

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [46]:
print('lower critical value:',t.ppf(0.05/2, df=len(TransitOp)-1))
print('upper critical value:',t.ppf(1-0.05/2, df=len(TransitOp)-1))

lower critical value: -1.9609217773848806
upper critical value: 1.9609217773848802

In [48]:
# Method 2: Use the p-value method.
# Your code here:
pvalue = scipy.stats.t.cdf(stat, df=len(TransitOp)-1)
print('p-value: ',pvalue)

p-value:  1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [50]:
stat, pval = ttest_1samp(TransitOp, popmean = 35, alternative = "greater") 
print(stat,pval)

19.064990324906383 5.012771694204206e-76

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [54]:
hourly_wage = salaries['TotalPayBenefits']/50/40
print('mean:',hourly_wage.mean())
from scipy.stats import sem
print('confidence interval:',t.interval( 0.95, (len(hourly_wage)-1), hourly_wage.mean(), sem(hourly_wage)))

mean: 50.130719334189436
confidence interval: (49.798255413084014, 50.46318325529486)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [59]:
# Your code here:
hourly_wage_pol = salaries_pol['TotalPayBenefits']/50/40
print('mean:',hourly_wage_pol.mean())
from scipy.stats import sem
print('confidence interval:',t.interval( 0.95, (len(hourly_wage_pol)-1), hourly_wage_pol.mean(), sem(hourly_wage_pol)))

mean: 74.1745210625985
confidence interval: (72.9578791736444, 75.3911629515526)

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [60]:
# Your code here: (Create the function)
def return_dep(col):
    if 'Police' in col:
        return 'Policemen'
    elif 'Fire' in col:
        return 'Firemen'
    elif ('Med' or 'Nurse') in col:
        return 'Medical'
    elif 'Attorney' in col:
        return 'Lawyer'
    else:
        return 'Other'

In [ ]:
# Your code here: (Apply the function)

In [62]:
salaries['employee_group'] = salaries['JobTitle'].apply(return_dep)
salaries.reset_index()
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [63]:
pt_ft_status = pd.pivot_table(salaries, values = 'Id', index ='employee_group', columns = 'Status', aggfunc='count')
pt_ft_status

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical           333    196
Other           18821  14938
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [68]:
frequencies = pt_ft_status['sum'] = pt_ft_status['FT'] + pt_ft_status['PT']

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [69]:
firemen_ft=(pt_ft_status['FT'].sum()) * pt_ft_status.iloc[0,2]/(pt_ft_status['sum'].sum())
firemen_ft

885.2979878800598

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [81]:
firemen_pt = (pt_ft_status['PT'].sum()) * pt_ft_status.iloc[0,2]/(pt_ft_status['sum'].sum())
firemen_pt

625.7020121199402

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [82]:
lawyers_ft = (pt_ft_status['FT'].sum()) * pt_ft_status.iloc[1,2]/(pt_ft_status['sum'].sum())
lawyers_ft

245.4929562685275

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [83]:
lawyers_pt = (pt_ft_status['PT'].sum()) * pt_ft_status.iloc[1,2]/(pt_ft_status['sum'].sum())
lawyers_pt

173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [84]:
medical_ft= (pt_ft_status['FT'].sum()) * pt_ft_status.iloc[2,2]/(pt_ft_status['sum'].sum())
medical_ft

309.942181064561

In [91]:
# not sure why this gives me something different than expected? I'll add it manually
medical_ft = (1028+2889)/len(salaries)*(pt_ft_status['FT'].sum())
medical_ft

2294.9783047823917

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [86]:
medical_pt= (pt_ft_status['PT'].sum()) * pt_ft_status.iloc[2,2]/(pt_ft_status['sum'].sum())
medical_pt

219.05781893543903

In [90]:
# not sure why this gives me something different than expected? I'll add it manually
medical_pt = (1028+2889)/len(salaries)*(pt_ft_status['PT'].sum())
medical_pt

1622.0216952176079

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [80]:
other_ft = (pt_ft_status['FT'].sum()) * pt_ft_status.iloc[3,2]/(pt_ft_status['sum'].sum())
other_ft

19779.46708990267

In [88]:
# not sure why this gives me something different than expected? I'll add it manually
other_ft = (18126+12245)/len(salaries)*(pt_ft_status['FT'].sum())
other_ft

17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [79]:
other_pt = (pt_ft_status['PT'].sum()) * pt_ft_status.iloc[3,2]/(pt_ft_status['sum'].sum())
other_pt

13979.532910097327

In [89]:
# not sure why this gives me something different than expected? I'll add it manually
other_pt = (18126+12245)/len(salaries)*(pt_ft_status['PT'].sum())
other_pt

12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [77]:
policemen_ft = (pt_ft_status['FT'].sum()) * pt_ft_status.iloc[4,2]/(pt_ft_status['sum'].sum())
policemen_ft

1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [76]:
policemen_pt = (pt_ft_status['PT'].sum()) * pt_ft_status.iloc[4,2]/(pt_ft_status['sum'].sum())
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [93]:
# Your code here:
ft_list = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt_list = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]
ft_pt_dic = {'FT':ft_list, 'PT': pt_list}
frequencies = pd.DataFrame(ft_pt_dic)
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785  13979.532910

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [95]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05
scipy.stats.chi2_contingency(pt_ft_status)

(1088.919545816174,
 9.468176032290665e-230,
 8,
 array([[  885.29798788,   625.70201212,  1511.        ],
        [  245.49295627,   173.50704373,   419.        ],
        [  309.94218106,   219.05781894,   529.        ],
        [19779.4670899 , 13979.5329101 , 33759.        ],
        [ 1113.79978488,   787.20021512,  1901.        ]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [54]:
# yep, matches ok